<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>News Paper</title>

<!--    <div th:replace="fragments/header :: header"> This header content is going to be replaced.</div>-->


    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>



</head>
<body>

<div th:insert="fragments/navbar::navbar">  </div>

    <div id="app"></div>
    <script src="http://localhost:8000/main.js"></script>
<!--    <script src="/js/main.js"></script>-->
<!--https://habr.com/ru/company/ruvds/blog/438982/-->
</body>
</html>