<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>News Paper</title>

<!--    <div th:replace="fragments/header :: header"> This header content is going to be replaced.</div>-->


<!--    <script th:inline="javascript">-->
<!--        var frontendData = [[${frontendData}]];-->
<!--    </script>-->



</head>
<body>




<section layout:fragment="content">


    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>

    <div id="app"></div>
    <script src="/js/main.js"></script>
<!--    <script src="http://localhost:8000/main.js"></script>-->
</section>

</body>
</html>