<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>News Paper</title>


    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>



</head>
<body>

    <div id="app"></div>
    <script src="http://localhost:8000/main.js"></script>
<!--    <script src="/js/main.js"></script>-->
<!--https://habr.com/ru/company/ruvds/blog/438982/-->
</body>
</html>